<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.eliza.myexpenses">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label=""
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
                android:name=".MainActivity"
                android:exported="true"
        >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".AddActivity">
        </activity>
        <activity android:name=".ShowRecipesActivity">
        </activity>
        <activity android:name=".PresentOneRecipeActivity">
        </activity>
        <activity android:name=".AddIngrActivity">
        </activity>
        <activity android:name=".AddDescActivity">
        </activity>
        <activity android:name=".SndRecipesShowActivity">
        </activity>
        <activity android:name=".PuEmailActivity">
        </activity>
        <activity android:name=".DeleteShowActivity">
        </activity>
    </application>

</manifest>